# Load partition table and file system modules.
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660

if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    set gfxmode="auto"
    terminal_input console
    terminal_output console
fi

default=factorios
timeout=3
timeout_style=menu

menuentry "FactoriOS Installer" --class arch --class gnu-linux --class gnu --class os --id 'factorios' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
    fwsetup
}

menuentry 'System restart' --class reboot --class restart {
    echo 'Rebooting...'
    reboot
}

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'Shutting down...'
    halt
}
